<settings>

  <servers>
  		<server>
			<id>bksplatform_deployer</id>
			<username>bksruntimecoredeployer</username>
			<password>bksruntimecoredeployer123</password>
		</server>
		<server>
			<id>bksplatform</id>
			<username>bksruntimecore</username>
			<password>bksruntimecore123</password>
		</server>
        <server>
    		<id>releases-local</id>
    		<username>deployment</username>
			<password>deployment</password>
		</server>
		<server>
    		<id>releases-deploy</id>
    		<username>deployment</username>
			<password>deployment</password>
		</server>
    </servers>    
 </settings>